settings/cuong/user_settings/speech/mydeepspeech
code/Librarys/compare/node_modules
*.pyc
code/Librarys/compare/data.json
code/Librarys/emotions/folder
code/Librarys/emotions/outdir
notes/MyTry/mytry/ocr/license_plate_recognition/alpr-unconstrained_p2/log/
